@charset "UTF-8";
/* public */
.bg {
  background: #fa6f01; }

.theme {
  color: #fa6f01; }

.w-100 {
  width: 100%; }

.h-100 {
  height: 100%; }

.is-require::after {
  content: '*';
  display: inline-block;
  color: red;
  position: absolute;
  right: -20upx;
  top: 0upx; }

.pad-lr {
  padding: 0 30upx; }

.pad-all {
  padding: 30upx; }

.flex-ali {
  display: flex;
  justify-content: center;
  align-items: center; }

.flex-center {
  display: flex;
  align-items: center; }

uni-button:after {
  border: none !important; }

/*文本格式化，超出范围，显示省略号*/
/*绝对定位  参数顺序：上右下左*/
/* 圆角 */
/* 宽高 */
